@mixin user-select($prop) {
  -webkit-user-select: $prop; /* Chrome/Safari/Opera */
  -html-user-select: $prop; /* Konqueror */
  -moz-user-select: $prop; /* Firefox */
  -ms-user-select: $prop; /* Internet Explorer/Edge */
  user-select: $prop;
  /* Non-prefixed version, currently
                         not supported by any browser */
}

@mixin shadow($prop) {
  -moz-box-shadow: $prop;
  -webkit-box-shadow: $prop;
  box-shadow: $prop;
}

@mixin transition($prop) {
  -o-transition: $prop;
  -moz-transition: $prop;
  -webkit-transition: $prop;
  transition:$prop;
}

@mixin transform($prop) {
  -o-transform: $prop;
  -moz-transform: $prop;
  -webkit-transform: $prop;
  transform: $prop;
}

@mixin hX($color) {
  h1,h2,h3,h4,h5,h6 {
    color: $color;
    border-bottom: 1px solid;
  }
}
