$backgroundColor: #f8e3a7;
$contentColor: white;

$fbColor: #3b5998;
$igColor: #8134af;
$ttColor: #000;
$tgColor: #2AABEE;
$darkLila: #60002a;
$lightLila: #A61C68;


$contentFont: "Verdana", sans-serif;
$contentFontSize: 15px;


/*$sliderBgColor: $backgroundColor * 0.5;*/
