header {
  background-size:cover;
  min-height:500px;
  background: url("/images/studio/IMG_4272.jpeg") no-repeat center top;
  background-size:100%;
  position:relative;
  padding: 0 15px;

  .nav-item {
    padding-left: 50px;
  }

  .bigLogo {
    left: calc(50% - 350px) !important;
    top: 150px !important;
    width: 600px !important;
    z-index: 3;
    position: absolute;
  }
}
@media only screen and (max-device-width: 480px) {
 header {
   min-height: 240px !important;

 }
  div.header {
    height: 82px;
  }

}

