@import "variables";
@import "mixins";

.box {
  padding: 1em;
}

.no-padding {
  padding: 0 !important;
}

.white-box {
  @extend .box;
  background: white;
  color: black;
  min-height:200px;

  @include hX($darkLila);
}

#banner {
  //background-position: center center;
  //min-height: 300px;
  background-image: url('/images/banner.jpg');
  z-index:10;
  position:relative;
}
#banner:before {
  background: $backgroundColor;
  opacity:0.5;
  position:absolute;
  content:'';
  left:0;
  width:100%;
  height:100%;
  top:0;
}

#priceTable td:nth-child(2) {
  text-align: right;
}

#priceSideImage {
  width:100%;
  height: 485px;
  background-size:cover;
  background-image: url('/images/studio.jpg');
}

#gmaps {
  background: url('/images/gmaps.png') no-repeat center center;
  background-size: cover;
  height:300px;
}

// Extra Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .no-padding-xs {
    padding: 0 !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .no-padding-sm {
    padding: 0 !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .no-padding-md {
    padding: 0 !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .no-padding-lg {
    padding: 0 !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .no-padding-xl {

  }
}
