@import "mixins";
@import "variables";

.kachel {
  position:relative;
  color:white;
  padding: 4em 3em;
  margin-top:1em;
  min-height: 246px;

  @include transition(all .5s ease);
}
a.kachelLink {
  color:white;
}
a.kachelLink:hover {
  text-decoration:none;
}
a.kachelLink:hover .kachel {
  color:#5a4275;
  background-color: #fff !important;
}
.kachel .title {
  font-size:2.75em;
  text-align:center;
}
.kachel .subtitle {
  font-size:1.25em;
  text-align:right;
  color:white;
}

table.contenttable {
  font-size: 1.0em;
}
table h3 {
  font-size: 20px;
}
table.contenttable tr td:nth-child(2) {
  text-align:right;
}
.stickyButton.scrollButton {
  background-color: #60002A;
  color:white;
}


.news {
  padding-top: 2em;
}

.frame-space-before-small {
  margin-top: 1em;
}
.frame-space-after-small {
  margin-bottom: 1em;
}
.dynObj {
  width:100%;
  display:inline-block;
}

@media (max-width:991px) {
  .kachel {
    .title {
      font-size: 1.5em;
    }
    .subtitle {
      font-size:1em;
      text-align: left;
    }
  }
}
