@import "variables";
@import "mixins";

$navColor: #A61C68;
$navColorActive: white;
$navColorHover:white;
$navBgColor: $backgroundColor;
$navFontSize: 2.6em;
$navFont: "Economica", sans-serif;

nav {
  background-color:$navBgColor;
  z-index:19 !important;

  .nav-link {
    color: $navColor!important;
    font-size: $navFontSize;
    font-family: $navFont;
    &:not(.brand-link) {
      min-width: 128px;
      text-align: center;
    }

    &.active {
      color: $navColor !important;
      font-weight: bold;
    }

    @include transition(all .25s ease);

    &:hover {
      color: $navColorHover;
      text-decoration: none;
    }
  }

  li:first-child a.nav-link {
    padding-left:0;
  }

  a:hover .fa-facebook {
    color:$fbColor;
  }

  a:hover .fa-instagram {
    color: $igColor;
  }

  a:hover .fa-tiktok {
    color: $ttColor;
  }

  a:hover .fa-telegram {
    color: $tgColor;
  }

  .navbar-social a {
    font-size: $navFontSize * 1.3;
  }

  .navbar-toggler {
    outline:none;
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

.brand {
  width: 260px;
  position: absolute;
}

#sticky-wrapper.is-sticky #smallLogo {
  visibility: visible;
  opacity:1;
}

#sticky-wrapper.is-sticky .sticky {
  border-bottom: 2px solid $navColor;
  min-height: 64px;
}

.navbar-light .navbar-toggler {
  color: $navColor;
  border-color: $navColor;
}

@media (max-width: 991px) {
  .nav {
    min-height: 64px;

    .nav-link {
      font-size: 1.2em;
    }
  }
}

.brand-link {
  max-width: 50px;
}

@media only screen and (max-device-width: 480px) {
  .navbar-nav {
    display: block;
    position: relative;
    margin-top: 50px !important;
  }
  .brand {
    width: 218px;
  }
  .nav-item {
    float:left;
  }
  .brand-link {
    min-width: 68px;
  }
}
