@import "mixins";
@import "variables";

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left:0;
  top:5%;
  width:100vw;
  height:100vh;
  background: $backgroundColor;
  z-index:20000;
  overflow:auto;
  padding:1em;

  text-align: justify;

  @include transition(all .25s ease-in-out);


  .closeBtn {
    position: absolute;
    right:1em;
    top:1em;
    width:64px;
    height:64px;
  }

  .closeBtn,
  .closeBtn:hover,
  .closeBtn:focus,
  .closeBtn:active {
    background:none;
    border:0;
    outline:0;
  }

  .closeBtn:before,
  .closeBtn:after {
    content:'';
    width:100%;
    height:1px;
    background:$contentColor;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .closeBtn:before {
    @include transform(rotate(-45deg));
  }

  .closeBtn:after {
    @include transform(rotate(45deg));
  }
}

.popup.open {
  visibility: visible;
  opacity: 1;
  top:0;
}
