@import "mixins";
@import "variables";

.swiper-container {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
#gallery {
  height:600px;
  background: $sliderBgColor;
  position:relative;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.swiper-slide {
  .title {
    margin-top:1em;
    font-size: 41px;
    font-weight: 300;
  }

  .subtitle {
    font-size: 21px;
  }

  .text {
    line-height: 1.3;
    font-size: 17px;
    max-width: 600px;
  }
}

#bannerWrapper {
  height:350px;

  .swiper-wrapper {
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .swiper-slide {
    padding-left:20%;
  }
}
