@import "mixins";
@import "variables";

$phoneButtonBgColor: #35A81E;


.sticky-button {
  position: fixed;
  bottom: 16px;
  display: inline-block;
  z-index: 10000;
  padding: 1em;
  border-radius: 5px;
  min-width: 56px;
  min-height: 56px;
  text-align: center;
  opacity: 0.5;
  @include transition(opacity .25s linear);
}

.phoneButton {
  left: 16px;
  background-color: $phoneButtonBgColor;
}
