@import "styles/variables";
@import "styles/mixins";

$footerBgColor: #2d272a;
$footerColor: white;

html,
body {
  background: $backgroundColor;
  font-family: $contentFont;
  color: $contentColor;
  font-size: $contentFontSize;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}
.h2, h2,
.h3, h3 {
  text-align: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.parallax-background {
  background-attachment: fixed;
}

section {
  margin: 2em 0;
}

.box {
  padding: 1em;
  min-height: 200px;

  &.white-box {
    background: #fff;
    color: #000;

    @include hX($lightLila);
  }

  &.light-lila-box {
    background: $lightLila;
    color: white;

    a {
      color: white;
      font-weight: bold;
    }

    @include hX(white);
    hr {
      background-color: white;
    }
  }

  &.lila-box {
    background: $darkLila;
    color: white;

    a {
      color: white;
      font-weight: bold;
    }

    hr {
      background-color: white;
    }

    @include hX(#fff);
  }
}

.modal-dialog {
  color: black;
  max-width: 800px;
}

a {
  color: $lightLila;
}
.header .navbar {
  padding: 10px 0;
  line-height: 50px;
}
.header.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 91;
}
.header.sticky .navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 15px;
  width: 100%;

  opacity: 1;
  border-bottom: 1px solid white;

  @include shadow(0 5px 15px -5px rgba(0,0,0,0.84));
}


.price-table {
  position: relative;

  span {
    display: inline-block;
  }

  .price-table-content {
    min-height: 135px;
  }

  span.description {
    width: 75%;
    text-align: left;
  }
  span.price {
    width: 25%;
    text-align: right;
  }
}

hr {
  background-color: $lightLila;
  margin: 0.5rem 0;
  opacity: 1;
}

.swiper-pagination {
  border-top: 1px solid $lightLila;
  bottom: -4px !important;
}

#gallerie {
  hr {
    margin: 1em 0;
  }
}
.image-gallery,
#gallery, .image-gallery-content.fullscreen {
  background: $backgroundColor !important;

  .image-gallery-icon {
    color: $lightLila;
  }

  nav {
    background-color: transparent;
  }

  .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus, .image-gallery-thumbnail:hover {
    border: 4px solid $lightLila;
  }
}


main {
  .section {
    margin: 1em 0;
  }

  .title {
    display: none;
  }
}

.clear {
  clear: both;
}

$footerBgColor: $darkLila;
$footerColor: white;
footer {
  background: $footerBgColor;

  text-align: center;

  a, a:hover, a:active {
    color: $footerColor;
    text-decoration: none;
  }

  a:hover {
    //font-weight: bold;
  }
}


.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  max-height: 61.7px;
  overflow: hidden;
}